* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

a, main .flexbox p {
    font-family: staatliches;
}



header {
    height: 27vh;
    background-color: #065535;
    margin-bottom: 2%;
    margin-top: 0;
}

body {
    background-color: #EBFCE6;
}

h1 {
    font-size: 8rem;
    margin: 0 2% 2% 2%;
    font-family: lobster;
    letter-spacing: 4px;
    color: #CEF9C2;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 4%;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    background-color: #CEF9C2;
    color: #065535;
    width: 22%;
    padding: 1%;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
    letter-spacing: 3px;
    transition-property: letter-spacing;
    transition-delay: 50ms;
    transition-duration: 600ms;
}

header nav a:hover {
    letter-spacing: 8px;
}

section {
    display: flex;
    margin-bottom: 3%;
}

section img  {
    width: 48%;
    align-self: flex-start;
}

.name {
    width: 48%;
    margin: 4% 0 0 5%;
    font-size: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.name h2 {
    letter-spacing: 2px;
    font-family: lobster;
    color: #065535;
}

.name a {
    display: inline-block;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    color: #CEF9C2;
    background-color: #065535;
    width: 37%;
    padding: 1.9%;
    border-radius: 10px;
    transition-property: letter-spacing;
    transition-delay: 50ms;
    transition-duration: 600ms;
}

.name a:hover {
    letter-spacing: 8px;
}

.name p {
    font-family: kalam;
    padding-right: 4%;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
    font-size: 2.7rem;
    height: 80vh;
}

.flexbox {
    width: 24%;
    text-align: center;
}

.flexbox img {
    width: 80%;
}

.flexbox div a p {
    letter-spacing: 3px;
}

footer {
    background-color: #065535;
    margin-top: 3%;
    height: 40vh;
    font-size: 2.5rem;
    padding-top: 1%;
    text-align: center;
}

footer p {
    font-size: 3.7rem;
    margin: 2% auto;
    font-family: kalam;
    letter-spacing: 5px;
    color: #CEF9C2;
}

footer nav {
    text-align: center;
    width: 100%;
}

footer nav a {
    display: block;
    margin: 3% auto;
    background-color: #CEF9C2;
    color: #065535;
    text-decoration: none;
    padding: .5% 0%;
    border-radius: 10px;
    width: 20%;
    letter-spacing: 3px;
    transition-property: letter-spacing;
    transition-delay: 50ms;
    transition-duration: 600ms;
}

footer nav a:hover {
    letter-spacing: 8px;
}

.hidden {
    opacity: 0;
    transition-property: opacity;
    transition-delay: 50ms;
    transition-duration: 800ms;
}

.flexbox:hover .hidden {
    opacity: 1;
}

/* CSS for tablets */

@media (max-width: 800px) {
    header {
        text-align: center;
    }

    h1 {
        width: 75%;
        margin: 0 auto;
        letter-spacing: 5px;
    }

    header nav {
        margin: 3.5% auto;
        justify-content: space-between;
        width: 85%;
    }

    header nav a {
        letter-spacing: 5px;
    }

    header nav a:hover {
        letter-spacing: 5px;
    }

    section {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    section img  {
        width: 65%;
        margin: auto;
        height: 25vh;
        width: 90%;
    }
    
    .name {
        margin: 4% auto;
        font-size: 2.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .name h2 {
        display: none;
    }
    
    .name a {
        letter-spacing: 8px;
        color: #CEF9C2;
        background-color: #065535;
        width: 37%;
        padding: 1.9%;
        border-radius: 10px;
        transition-property: letter-spacing;
        transition-delay: 50ms;
        transition-duration: 600ms;
        align-self: center;
        margin: 4% auto;
    }
    
    .name a:hover {
        letter-spacing: 8px;
    }
    
    .name p {
        font-family: kalam;
        padding: 0 4%;
        margin: 3% auto;
        font-size: 3rem;
    }


     main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: space-around;
        font-size: 2.7rem;
        height: 160vh;
        width: 90%;
        margin: 0 auto;
    }

    .flexbox {
        width: 48%;
        text-align: center;
    }

    .flexbox img {
        width: 90%;
    }

    .flexbox  p {
        letter-spacing: 5px;
        font-size: 3rem;
    }

    .hidden {
        display: none;
    }
    
    .flexbox:hover .hidden {
        opacity: 0;
    }

    footer nav {
        text-align: center;
        width: 100%;
        display: flex;
    }

    footer {
        height: 27vh;
    }

    footer nav a {
        padding: 1%;
        width: 40%;
        letter-spacing: 8px;
    }
}

/* CSS for mobile */

@media (max-width: 500px) {

    header {
        text-align: center;
        height: 38vh;
    }

    h1 {
        width: 75%;
        font-size: 5rem;
        margin: 0 auto;
        letter-spacing: 5px;
        padding-top: 4%;
    }

    header nav {
        margin: 1% auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }

    header nav a {
        letter-spacing: 1px;
        width: 75%;
        margin: 4% auto;
        padding: 2%;
    }

    header nav a:last-of-type {
        background-color:#CEF9C2;
        text-decoration: none;
    }

    header nav a:hover {
        letter-spacing: 1px;
    }

    .name h2 {
        font-size: 5rem;
        display: block;
    }

    .name a {
        width: 60%;
    }

    .name p {
        line-height: 3.5rem;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-evenly;
        height: 120vh;
        width: 95%;
        margin: 0 auto;
    }

    .flexbox {
        width: 48%;
        text-align: center;
        margin: 0% auto;
    }

    .flexbox img {
        width: 92%;
    }

    .flexbox  p {
        letter-spacing: 5px;
        font-size: 2rem;
    }

    footer nav {
        text-align: center;
        width: 100%;
        display: flex;
    }

    footer {
        height: 20vh;
    }

    footer p {
        width: 100%;
        font-size: 3rem;
    }

    footer nav a {
        padding: 1%;
        width: 47%;
        letter-spacing: 1.5px;
    }
}