* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

a, main .flexbox p {
    font-family: staatliches;
}



header {
    height: 27vh;
    background-color: #065535;
    margin-bottom: 2%;
    margin-top: 0;
}

body {
    background-color: #EBFCE6;
}

h1 {
    font-size: 8rem;
    margin: 0 2% 2% 2%;
    font-family: lobster;
    letter-spacing: 4px;
    color: white;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 4%;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    background-color: #CEF9C2;
    color: #141813;
    width: 22%;
    padding: 1%;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
    letter-spacing: 3px;
    transition-property: letter-spacing;
    transition-delay: 50ms;
    transition-duration: 600ms;
}

header nav a:hover {
    letter-spacing: 8px;
}

section {
    display: flex;
    margin-bottom: 3%;;
}

section img  {
    width: 48%;
    align-self: flex-start;
}

.name {
    width: 48%;
    margin: 4% 0 0 5%;
    font-size: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.name h2 {
    letter-spacing: 2px;
    font-family: lobster;
    color: #141813;
}

.name a {
    display: inline-block;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    color: #CEF9C2;
    background-color: #065535;
    width: 37%;
    padding: 1.9%;
    border-radius: 10px;
    transition-property: letter-spacing;
    transition-delay: 50ms;
    transition-duration: 600ms;
}

.name a:hover {
    letter-spacing: 8px;
}

.name p {
    font-family: kalam;
    padding-right: 4%;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
    font-size: 2.7rem;
    height: 80vh;
}

.flexbox {
    width: 24%;
    text-align: center;
}

.flexbox img {
    width: 80%;
}

.flexbox div a p {
    letter-spacing: 3px;
}

footer {
    background-color: #065535;
    margin-top: 3%;
    height: 40vh;
    font-size: 2.5rem;
    padding-top: 1%;
    text-align: center;
}

footer p {
    font-size: 3.7rem;
    margin: 2% auto;
    font-family: kalam;
    letter-spacing: 5px;
    color: #CEF9C2;
}

footer nav {
text-align: center;
    width: 100%;
}

footer nav a {
    display: block;
    margin: 3% auto;
    background-color: #CEF9C2;
    color: #141813;
    text-decoration: none;
    padding: .5% 0%;
    border-radius: 10px;
    width: 20%;
    letter-spacing: 3px;
    transition-property: letter-spacing;
    transition-delay: 50ms;
    transition-duration: 600ms;
}

footer nav a:hover {
    letter-spacing: 8px;
}

.hidden {
    opacity: 0;
    transition-property: opacity;
    transition-delay: 50ms;
    transition-duration: 600ms;
}

.flexbox:hover .hidden {
    opacity: 1;
}

